// Colors
$body-background-color: hsl(185, 75%, 39%);
$body-text-color: hsl(227, 10%, 46%);
$dark-gray-color: hsl(229, 23%, 23%);
$gray-color: hsl(0, 0%, 59%);
$white-color: hsl(0, 0%, 100%);;

// Typography
$body-font: 'Kumbh Sans', sans-serif;
$body-font-size: 1.6rem;
$regular-font-weight: 400;
$bold-font-weight: 700;